@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    padding:0;
    margin:0;
    font-family: 'PT Serif', serif;
}
:root{
    --defaultColor:#55A2A6;
    --defaultBlack:#151515;
    --lightBlack:#333333;
    --darkerBlack:#111111;
    --lightBlack2:#444444;
    --defaultGray:#CCC;
    --darkerGray:#B2B2B2;
}
html{
    scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: column;

}
body,
nav,
main,
footer,
main > section,
.about > blockquote,
.features a,
.about > section > article {
    display: flex;
    flex-direction: column;
}
h1{
    color:var(--darkerBlack);
}
h2{
    color:white;
    text-transform: uppercase;
}
h1,h3{
    text-transform: capitalize;
}
h3{
    color:var(--darkerGray);
}
a{
    text-decoration: none;
}
@media (min-width:250px){
    /* navigation */
    nav > ul{
        display: none;
    }
    nav aside{
        display: flex;
        justify-content: space-between;
        background-color: var(--darkerBlack);
        color:white;
        align-items: center;
    }
    nav h2{
        padding-left:5vh;
    }
    details{
        padding-right:5%;
        position:absolute;
        text-align: right;
        width:95%;
    }
    details ul {
        width:100%;
        display: flex;
        flex-direction: column;
        position:absolute;
        background-color: var(--darkerBlack);
    }
    details li{
        display: flex;
        padding:2%;
    }
    details a{
        color:white;
        padding:2%;
        width:100%;
    }

    
    header{
        background-image: url(/img/pic-14.jpg);
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
        height:30vh;
    }
    header > article{
        background-color: rgba(50,50,50,0.4);
        height:100%;
        width:100%;
    }
    .features{
        row-gap: 5vh;
    }
    .features blockquote{
        line-height: 1.5;
        color:white;
        background-color: var(--defaultColor);
        padding:4%;
        padding-left:20%;
        padding-right:20%;
        text-align: center;
    }
    .features q,.features cite{
        width:80%;
    }
    .features > article{
        display: flex;
        flex-direction: column;
        row-gap: 10vh;
    }
    .featuers a{
        color:var(--darkerBlack);
        align-items: center;
        row-gap:2vh;
    }
    .features i{
        font-size:48px;
       
    }
    .features h3{
        width:40%;
        text-align: center;
    }
    .features p{
        color:var(--darkerGray);
        font-weight:500;
    }
    .about{
        padding:5%;
        row-gap: 3vh;
    }
   .about > article h3{
    text-align: center;
   }
   .about section{
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    width:95%;
   }
   .about a{
    width:30%;
    background-color: var(--defaultColor);
    text-decoration: none;
    text-align: center;
    color:whitesmoke;
    padding:1%;
   }
   .about article{
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
   }
   .about blockquote{
    border-left: 3px solid var(--defaultColor);
    width:90%;

}
.about q{
    padding:3%;
}
.about cite{
    color:var(--defaultColor);
    text-transform: uppercase;
}
}